.container {
    padding-left: 8px ;
    padding-right: 8px ;
    padding-top: 4px ;
    padding-bottom: 4px ;
    display: block;
    background-color: inherit;
    border-width: 0px;
}

.underLineButton {
    height: 1px;
    width: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0050AE;
    transition: width 0.250s ease-in-out;
}

.textOrientationVertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.container:hover .underLineButton {
    width: 100%;
}